* {
  margin: 0;
  padding: 0;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0 auto;
  /* max-width: 1440px; */
}


/* Headings */
h1 {
  font-size: 40px;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 40px;
}
header {
  background-color: antiquewhite;
}


/* Navbar */
nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.navlink {
  display: flex;
  align-items: center;
}
.navlink a {
  color: black;
  padding: 0 18px;
  text-decoration: none;
  font-size: 20px;
}
.navmenu {
  display: none;
}
.navmenu img {
  display: flex;
  align-items: center;
  width: 40px;
}


/* Banner */
.banner {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}
.banner > div {
  width: 50%;
  margin: 30px auto;
}
.section-description {
  margin: 30px auto;
}
.orange-button {
  padding: 10px 18px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner img {
  width: 98%;
  padding-bottom: 30px;
}


/* Team Section */
.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px auto;
}
.team div {
  width: 40%;
}
.team-1span {
  font-weight: 100;
  color: rgb(141, 141, 141);
}
.team-2span {
  color: orange;
}
.img-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 70px 50px;
}
.img-collage img {
  width: 100%;
  text-align: center;
}
.team-text h3 {
  margin-top: 40px;
}


/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.features-content {
  width: 40%;
}
.features-image {
  width: 45%;
}
.features-content > h3 {
  padding-left: 30px;
  border-left: 5px solid orange;
}
.features-card {
  margin: 35px 20px;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px #f1f1f1;
}
.features-card-h {
  font-size: 24px;
  margin-bottom: 16px;
}
.features-card-p {
  color: #919090;
}
.features-image img {
  width: 95%;
}
.features-image p {
  background-color: orange;
  color: white;
  padding: 30px 20p;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 34px;
  position: absolute;
  bottom: -20px;
}
/* .experienced-text {
  position: absolute;
} */





@media  screen and (max-width:572px) {
  .navlink {
    display: none;
  }
  .navmenu {
    display: block;
  }
  .team {
    flex-direction: column-reverse;
  }
  .team div {
    width: 95%;
  }
  .team-text {
    text-align: center;
  }
  .features {
    flex-direction: column;
  }
  .features-content {
    width: 95%;
  }
  .features-image {
    width: 94%;
    margin: 0 auto;
  }
  .features-image img {
    width: 100%;
  }
}